.landing-logo {
  display: flex;
  margin-bottom: 20px; }
  .landing-logo img {
    height: 50px;
    width: 50px;
    margin-left: 100px;
    margin-top: 50px; }
  .landing-logo p {
    color: #3b3f50;
    margin-left: 15px;
    margin-top: 50px;
    font-size: 24px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    align-content: center;
    display: block; }
    .landing-logo p span {
      font-weight: 300;
      display: block;
      text-align: center;
      font-size: 15px; }

body {
  background-color: white;
  margin: 0%;
  width: 100%;
  max-width: 1920px; }

header {
  background-image: url(../img/m-h-day.jpg);
  background-position: center;
  height: 600px;
  max-width: 1920px;
  margin: auto;
  width: 100%;
  border-radius: 0 0 40% 0; }
  header .header_heading {
    max-width: 600px;
    font-size: 70px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
    color: #362c2c;
    position: relative;
    z-index: 10; }
    header .header_heading:after {
      content: "";
      position: absolute;
      display: block;
      width: 270px;
      height: 50px;
      background-color: #14a0c7;
      left: 0;
      bottom: 8px;
      z-index: -1; }
  header .header_text {
    line-height: 1.5;
    color: #362c2c;
    margin-left: 100px;
    margin-top: 0px;
    margin-bottom: 50px;
    white-space: pre-line;
    font-size: 15px; }
  header .header_button {
    background-color: #629218;
    color: #ffffff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 18px;
    font-weight: 600;
    height: 60px;
    width: 170px;
    margin-left: 100px;
    border-radius: 4px;
    border: none; }
    header .header_button:hover {
      cursor: pointer;
      background-color: #7fbe1f; }
  header .login {
    color: #ffffff;
    margin-left: 70px; }

main {
  background-color: white;
  padding-top: 10px;
  max-width: 1600px;
  width: 100%;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  main p.section_text {
    align-items: center;
    position: relative;
    display: flex;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #21232e; }
  main .section_card_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    flex-direction: column;
    margin-bottom: 200px; }
    main .section_card_wrap .section_card_img {
      border-radius: 3px;
      width: 300px;
      float: left; }
    main .section_card_wrap .section_card {
      color: white;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      align-self: center;
      width: 920px;
      border-radius: 3px;
      padding: 15px;
      background-color: #3b3f50;
      margin-top: 15px;
      margin-bottom: 0;
      display: table-cell;
      vertical-align: middle;
      text-align: center; }
      main .section_card_wrap .section_card:last-child {
        margin-right: 0px; }
      main .section_card_wrap .section_card section_card_heading {
        font-weight: bold; }
  main .section_banner {
    color: white;
    width: 920px;
    display: flex;
    bottom: -53%;
    padding: 30px;
    border-radius: 3px;
    background: linear-gradient(to right, #639314 0%, #305ecd 100%);
    left: 19%;
    justify-content: space-between;
    z-index: 2;
    margin-bottom: -90px; }
    main .section_banner .section_banner_button {
      background-color: #629218;
      color: #ffffff;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 18px;
      font-weight: 600;
      height: 60px;
      width: 170px;
      margin-left: 100px;
      border-radius: 4px;
      border: none;
      margin-right: 100px;
      align-self: center; }
      main .section_banner .section_banner_button:hover {
        cursor: pointer;
        background-color: #7fbe1f; }
    main .section_banner p.section_banner_heading {
      text-align: left;
      margin-left: 100px;
      color: #362c2c;
      font-size: 30px;
      font-weight: bold;
      font-family: "Source Sans Pro", sans-serif;
      letter-spacing: 0.1px; }
    main .section_banner p.section_banner_text {
      font-family: "Source Sans Pro", sans-serif;
      text-align: left;
      margin-left: 100px; }

.footer {
  background-color: #21232e;
  color: white;
  padding-top: 50px;
  padding-left: 50px;
  height: 200px;
  position: relative; }
  .footer .footer_wrap {
    display: inline-block;
    padding: 20px;
    display: flex;
    height: 243px;
    flex-direction: row;
    justify-content: space-between; }
    .footer .footer_wrap .footer_logo {
      display: flex;
      width: 10%;
      align-items: center;
      justify-content: space-around;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: bold;
      margin-bottom: 30px; }
      .footer .footer_wrap .footer_logo p {
        font-size: 25px;
        text-align: center;
        line-height: 1;
        color: white; }
        .footer .footer_wrap .footer_logo p span {
          display: block;
          font-size: 10px; }
      .footer .footer_wrap .footer_logo img {
        height: 50px;
        width: 50px;
        margin-left: 100px;
        margin-top: 50px; }
      .footer .footer_wrap .footer_logo p.footer_text {
        font-size: 14px;
        line-height: 1.5;
        widows: 310px; }
  .footer .footer-cr {
    opacity: 0.5; }
