$mainBackgroundColor:#21232e;
$backgroundcolor:#21232e;
$mapFonts: ("font1": ('Source Sans Pro', sans-serif),"font2": ('Fresca', sans-serif),"font3":('Hind','sans-serif'));
$backgroundimage: url(../img/m-h-night.jpg);
$underLineColor:#ff4e33;
$logofont:( Arial, Helvetica, sans-serif);
$headerTextColor:#ffffff;
$buttonColor:#e3ac00;
$gradientBlock: linear-gradient(to right, rgba(221,162,6,1) 0%, rgba(148,46,82, 1) 100%);
$footerbackground:#3b3f50;
$peakscolor1:white;
$sectioncolor:white;

