$mainBackgroundColor:white;
$backgroundcolor:white;
$mapFonts: ("font1": ('Source Sans Pro', sans-serif),"font2": ('Fresca', sans-serif),"font3":('Hind','sans-serif'));
$backgroundimage: url(../img/m-h-day.jpg);
$logofont:( Arial, Helvetica, sans-serif);
$underLineColor:#14a0c7;
$headerTextColor:#362c2c;
$buttonColor:#629218;
$gradientBlock: linear-gradient(to right, rgba(99, 147, 20, 1) 0%, rgba(48, 94, 205, 1) 100%);
$footerbackground:#21232e;
$peakscolor1:white;
$sectioncolor:#21232e;
